{% macro render_field(field) %}
{% if field.errors %}
<div class="form-group has-error {% if field.flags.required %}required{% endif %}">
    {{ field.label(class_='col-sm-2 control-label') }}
    <div class="col-sm-5">
        {{ field(class_='form-control', **kwargs) }}
        {% if field.description %}
        <span id="helpBlock" class="help-block">{{ field.description }}</span>
        {% endif %}
    </div>
    {% for error in field.errors %}
    <span class="help-block">{{error}}</span>
    {% endfor %}
</div>
{% else %}
<div class="form-group {% if field.flags.required %}required{% endif %}">
    {{ field.label(class_='col-sm-2 control-label') }}
    <div class="col-sm-5">
        {{ field(class_='form-control', **kwargs) }}
        {% if field.description %}
        <span id="helpBlock" class="help-block">{{ field.description }}</span>
        {% endif %}
    </div>
</div>
{% endif %}
{% endmacro %}

{% macro render_select2_field(field) %}
{% if field.errors %}
<div class="form-group has-error {% if field.flags.required %}required{% endif %}">
    {{ field.label(class_='col-sm-2 control-label') }}
    <div class="col-sm-5">
        {{ field(class_='form-control select2-form-field', **kwargs) }}
    </div>
    {% for error in field.errors %}
    <span class="help-block">{{error}}</span>
    {% endfor %}
</div>
{% else %}
<div class="form-group {% if field.flags.required %}required{% endif %}">
    {{ field.label(class_='col-sm-2 control-label') }}
    <div class="col-sm-5">
        {{ field(class_='form-control select2-form-field', **kwargs) }}
    </div>
</div>
{% endif %}
{% endmacro %}

{% macro render_inline_field(field) %}
{% if field.errors %}
<div class="form-group has-error {% if field.flags.required %}required{% endif %}">
    {{ field.label(class_='control-label') }}
    {{ field(class_='form-control', size=40, **kwargs) }}
    {% for error in field.errors %}
    <span class="help-block">{{error}}</span>
    {% endfor %}
</div>
{% else %}
<div class="form-group {% if field.flags.required %}required{% endif %}">
    {{ field.label(class_='control-label') }}
    {{ field(class_='form-control', size=40, **kwargs) }}
</div>
{% endif %}
{% endmacro %}

{% macro render_sample_datatable_form(search=true, filter=true) %}
<form class="form-inline">
    <div class="form-group col-sm-2">
        {% if search %}
        <label>Search:</label>
        <input type="text" class="form-control" id="search_box">
        {% endif %}
    </div>
    <div class="form-group col-sm-3 col-sm-offset-7">
        {% if filter %}
        <label>Filter:</label>
        <div class="input-group">
            <select id="measurementType" class="form-control">
                <option value=6>Mean Coverage</option>
                <option value=7>>10</option>
                <option value=8>>15</option>
                <option value=9>>30</option>
            </select>
            <span class="input-group-addon">></span>
            <input id="cutoff" placeholder="Filter value" class="form-control">
        </div>
        {% endif %}
    </div>
</form>
{% endmacro %}
