{% macro render_measurment_td(measurement) %}
    <td class="">{{measurement|float|round(2)}}</td>
{% endmacro %}


{% macro render_panel_measurment_td(measurement, type, panel=None) %}
{% if panel and type == 'measurement_percentage15' and measurement|float < panel.coverage_requirement_15 %}
    <td class="danger">{{measurement|float|round(2)}}</td>
{% else %}
    <td class="">{{measurement|float|round(2)}}</td>
{% endif %}
{% endmacro %}

{% macro render_gene_measurment_td(measurement, type, core_gene=False) %}
{% if type == 'measurement_percentage15' and core_gene and measurement|float < 100 %}
    <td class="danger">{{measurement|float|round(2)}}</td>
{% elif type == 'measurement_percentage15' and not core_gene and measurement|float < 95 %}
    <td class="danger">{{measurement|float|round(2)}}</td>
{% else %}
    <td class="">{{measurement|float|round(2)}}</td>
{% endif %}
{% endmacro %}