body {
    padding-top: 20px;
    padding-bottom: 20px;
}

.navbar {
    margin-bottom: 20px;
}

.dataTables_wrapper .dataTables_filter {
    float: left;
    text-align: left;
}

.help-block-inline {
    display: inline;
}

.popover{
    max-width: 100%;
}