{% from "macros/forms.html" import render_inline_checkbox %}
{% from "macros/typography.html" import render_bool_glyph %}
{% extends 'base.html' %}

{% block header %}Custom gene panel{% endblock %}

{% block body %}
<div class="well">
    <dl class="dl-horizontal">
        <dt>ID</dt><dd>{{ custom_panel.id }}</dd>
        <dt>Date</dt><dd>{{ custom_panel.date }}</dd>
        <dt>Test reference number</dt><dd>{{ custom_panel.research_number|supress_none }}</dd>
        <dt>Comments</dt><dd>{{ custom_panel.comments|supress_none }}</dd>
        <dt>Created by</dt><dd>{{ custom_panel.created_by }}</dd>
        <dt>Validated</dt><dd>{{ render_bool_glyph(custom_panel.validated) }} </dd>
    </dl>
</div>

<h2>Confirm to validate custom panel.</h2>
<div class="well">
    <form method="POST" action="{{ url_for('custom_panel_validated', id=custom_panel.id) }}" class="form-inline">
        {{ form.csrf_token }}
        {{ render_inline_checkbox(form.confirm) }}
        <button type="submit" class="btn btn-primary">Submit</button>
    </form>
</div>

{% endblock %}
