{% from "macros/forms.html" import render_field, render_select2_field %}
{% extends 'base.html' %}

{% block header %}Custom gene panel{% endblock %}

{% block body %}
<div class="well">
    <form method="POST" action="{{ url_for('custom_panel_new') }}" class="form-horizontal">
        {{ form.csrf_token }}
        {{ render_select2_field(form.samples) }}
        {{ render_select2_field(form.sample_set) }}
        {{ render_select2_field(form.panel) }}
        {{ render_field(form.gene_list, rows="6") }}
        {{ render_field(form.comments, rows="2") }}

        <div class="form-group">
            <div class="col-sm-offset-1 col-sm-10">
                <button type="submit" class="btn btn-primary">Submit</button>
            </div>
        </div>
    </form>
</div>
{% endblock %}

{% block custom_javascript %}
<script>
    $(document).ready(function() {
        $('.select2-form-field').select2();

    });
</script>
{% endblock %}
