{% from "macros/forms.html" import measurement_type_form %}
{% from "macros/tables.html" import render_measurment_td %}
{% extends 'base.html' %}

{% block header %}Custom gene panel - {{ gene.id }} {% endblock %}

{% block body %}
<div class="well">
    <dl class="dl-horizontal">
        <dt>ID</dt><dd>{{ custom_panel.id }}</dd>
        <dt>Created by</dt><dd>{{ custom_panel.user }}</dd>
        <dt>Date</dt><dd>{{ custom_panel.date }}</dd>
        <dt>Comments</dt><dd>{{ custom_panel.comments }}</dd>
        <dt>Gene</dt><dd>{{ gene.id }}</dd>
        <dt>Preferred transcript</dt><dd><a href="{{ url_for('custom_panel_transcript', id=custom_panel.id, transcript_name=gene.default_transcript.name) }}">{{ gene.default_transcript.name }}</a></dd>
    </dl>
</div>

<div class="row">
{{ measurement_type_form(form) }}
</div>

<h2>Transcript Statistics</h2>
<table class="table table-bordered table-hover table-condensed" id="data_table">
    <thead>
        <tr>
            <th>Transcript</th>
            <th>Mean</th>
            <th>Min.</th>
            <th>Max.</th>
            {% for sample in custom_panel.samples %}
            <th>{{ sample.name }} {{ measurement_type[1] }}</th>
            {% endfor %}
        </tr>
    </thead>
    <tbody>
        {% for transcript in transcript_measurements %}
        <tr>
            {% if transcript == gene.default_transcript %}
            <td class="info"><a href="{{ url_for('custom_panel_transcript', id=custom_panel.id, transcript_name=transcript.name) }}">{{ transcript.name }} *</a></td>
            {% else %}
            <td><a href="{{ url_for('custom_panel_transcript', id=custom_panel.id, transcript_name=transcript.name) }}">{{ transcript.name }}</a></td>
            {% endif %}
            {{ render_measurment_td(transcript_measurements[transcript]['mean']) }}
            {{ render_measurment_td(transcript_measurements[transcript]['min']) }}
            {{ render_measurment_td(transcript_measurements[transcript]['max']) }}
            {% for sample in custom_panel.samples %}
            {{ render_measurment_td(transcript_measurements[transcript][sample]) }}
            {% endfor %}
        </tr>
        {% endfor %}
    </tbody>
</table>
* Preferred transcript
{% endblock %}

{% block custom_javascript %}
<script>
    $(document).ready(function() {
        $('#data_table').DataTable( {
            "paging": false,
            "info": false,
            "searching": false,
            "order": [[ 0, 'asc' ]],
        });
    });
</script>
{% endblock %}
