{% from "macros/forms.html" import render_field, render_select2_field %}
{% from "macros/tables.html" import render_measurment_td %}
{% extends 'base.html' %}
{% block header %}Custom gene panel{% endblock %}
{% block body %}
<div class="well">
    <form method="GET" action="{{ url_for('custom_panel') }}" class="form-horizontal">
        {{ render_field(form.measurement_type) }}
        {{ render_select2_field(form.samples) }}
        {{ render_field(form.gene_list, rows="5") }}

        <div class="form-group">
            <div class="col-sm-offset-1 col-sm-10">
                <button type="submit" class="btn btn-primary">Submit</button>
            </div>
        </div>
    </form>
</div>

{% if sample_measurements %}
<h2>Panel Statistics</h2>
<table class="table table-bordered table-hover">
    <thead>
        <tr>
            <th># Samples</th>
            <th># Genes</th>
            <th>Min.</th>
            <th>Mean</th>
            <th>Max.</th>
            {% for sample in samples %}
            <th>{{ sample.name }} - {{ measurement_type[1] }}</th>
            {% endfor %}
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>{{ samples|count }}</td>
            <td>{{ transcript_measurements|count }}</td>
            {{ render_measurment_td(sample_measurements['min']) }}
            {{ render_measurment_td(sample_measurements['mean']) }}
            {{ render_measurment_td(sample_measurements['max']) }}
            {% for sample in samples %}
            {{ render_measurment_td(sample_measurements[sample]['measurement']) }}
            {% endfor %}
        </tr>
    </tbody>
</table>
{% endif %}

{% if transcript_measurements %}
<h2>Gene Statistics</h2>
<table class="table table-bordered table-hover">
    <thead>
        <tr>
            <th>Gene</th>
            <th>Transcript</th>
            <th>Min.</th>
            <th>Mean</th>
            <th>Max.</th>
            {% for sample in samples %}
            <th>{{ sample.name }} - {{ measurement_type[1] }}</th>
            {% endfor %}
        </tr>
    </thead>
    <tbody>
        {% for transcript in transcript_measurements %}
        <tr>
            <td>{{ transcript.gene.id }}</td>
            <td>{{ transcript.name }}</td>
            {{ render_measurment_td(transcript_measurements[transcript]['min']) }}
            {{ render_measurment_td(transcript_measurements[transcript]['mean']) }}
            {{ render_measurment_td(transcript_measurements[transcript]['max']) }}
            {% for sample in samples %}
            {{ render_measurment_td(transcript_measurements[transcript][sample]) }}
            {% endfor %}
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endif %}
{% endblock %}
