{% from "macros/forms.html" import measurement_type_form %}
{% from "macros/tables.html" import render_measurment_td %}
{% extends 'base.html' %}

{% block header %}Custom gene panel{% endblock %}

{% block body %}
<div class="well">
    <dl class="dl-horizontal">
        <dt>ID</dt><dd>{{ custom_panel.id }}</dd>
        <dt>Date</dt><dd>{{ custom_panel.date }}</dd>
        <dt>Test reference number</dt><dd>{{ custom_panel.research_number }}</dd>
        <dt>Comments</dt><dd>{{ custom_panel.comments }}</dd>
        <dt>Created by</dt><dd>{{ custom_panel.user }}</dd>
    </dl>
</div>

<div class="row">
{{ measurement_type_form(form) }}
</div>

{% if panel_measurements %}
<h2>Panel Statistics</h2>
<table class="table table-bordered table-hover table-condensed">
    <thead>
        <tr>
            <th># Genes</th>
            <th># Samples</th>
            <th>Mean</th>
            <th>Min.</th>
            <th>Max.</th>
            {% for sample in custom_panel.samples %}
            <th>{{ sample.name }} {{ measurement_type[1] }}</th>
            {% endfor %}
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>{{ transcript_measurements|count }}</td>
            <td>{{ custom_panel.samples|count }}</td>
            {{ render_measurment_td(panel_measurements['mean']) }}
            {{ render_measurment_td(panel_measurements['min']) }}
            {{ render_measurment_td(panel_measurements['max']) }}
            {% for sample in custom_panel.samples %}
            {{ render_measurment_td(panel_measurements[sample]['measurement']) }}
            {% endfor %}
        </tr>
    </tbody>
</table>
{% endif %}

{% if transcript_measurements %}
<h2>Gene Statistics</h2>
<table class="table table-bordered table-hover table-condensed" id="data_table">
    <thead>
        <tr>
            <th>Transcript</th>
            <th>Gene</th>
            <th>Mean</th>
            <th>Min.</th>
            <th>Max.</th>
            {% for sample in custom_panel.samples %}
            <th>{{ sample.name }} {{ measurement_type[1] }}</th>
            {% endfor %}
        </tr>
    </thead>
    <tbody>
        {% for transcript in transcript_measurements %}
        <tr>
            <td><a href="{{ url_for('custom_panel_transcript', id=custom_panel.id, transcript_name=transcript.name) }}">{{ transcript.name }}</a></td>
            <td><a href="{{ url_for('custom_panel_gene', id=custom_panel.id, gene_id=transcript.gene_id) }}">{{ transcript.gene.id }}</td>
            {{ render_measurment_td(transcript_measurements[transcript]['mean']) }}
            {{ render_measurment_td(transcript_measurements[transcript]['min']) }}
            {{ render_measurment_td(transcript_measurements[transcript]['max']) }}
            {% for sample in custom_panel.samples %}
            {{ render_measurment_td(transcript_measurements[transcript][sample]) }}
            {% endfor %}
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endif %}
{% endblock %}

{% block custom_javascript %}
<script>
    $(document).ready(function() {
        $('#data_table').DataTable( {
            "paging": false,
            "info": false,
            "searching": false,
            "order": [[ 1, 'asc' ]],
        });
    });
</script>
{% endblock %}
