{% from "macros/forms.html" import render_sample_datatable_form %}
{% extends 'base.html' %}

{% block header %}Gene panels{% endblock %}

{% block body %}

{{ render_sample_datatable_form(filter=false) }}

<table class="table table-bordered table-hover table-condensed" id="data_table">
    <thead>
        <tr>
            <th>Gene panel</th>
            <th>Last version</th>
        </tr>
    </thead>
    <tbody>
        {% for panel in panels %}
        <tr>
            <td><a href="{{ url_for('panel', name=panel.name) }}">{{ panel.name }}</a></td>
            <td><a href="{{ url_for('panel_version', id=panel.last_version.id) }}">{{ panel.last_version }}</a></td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}

{% block custom_javascript %}
<script>
    $(document).ready(function() {
        var dataTable = $('#data_table').DataTable( {
            "paging": false,
            "info": false,
            "order": [[ 0, 'asc' ]],
            "dom": "<'row'<'col-sm-6'f><'col-sm-6'l>>" + "<'row'<'col-sm-12'tr>>" + "<'row'<'col-sm-5'i><'col-sm-7'p>>",
        });

        $(".dataTables_filter").hide();

        $("#search_box").bind("change keyup", function() {
            console.log(this.value)
            dataTable.search(this.value).draw();
        });
    });
</script>
{% endblock %}
