{% from "macros/forms.html" import render_field, render_select2_field %}
{% extends 'base.html' %}

{% block header %}Create new panel{% endblock %}

{% block body %}
<div class="well">
    <form method="POST" action="{{ url_for('panel_new') }}" class="form-horizontal">
        {{ form.csrf_token }}
        {{ render_select2_field(form.name) }}
        {{ render_field(form.disease_description_eng) }}
        {{ render_field(form.disease_description_nl) }}
        {{ render_field(form.patientfolder_alissa) }}
        {{ render_field(form.clinical_geneticist,) }}
        {{ render_field(form.staff_member) }}
        {{ render_field(form.gene_list, rows="12") }}
        {{ render_field(form.coverage_requirement_15) }}
        {{ render_field(form.comments, rows="2") }}

        <div class="form-group">
            <div class="col-sm-offset-1 col-sm-10">
                <button type="submit" class="btn btn-primary">Submit</button>
            </div>
        </div>
    </form>
</div>
{% endblock %}
