{% extends 'base.html' %}
{% block header %}Panel - {{ panel.name }}{% endblock %}

{% block body %}
<table class="table table-bordered table-hover table-condensed">
    <thead>
        <tr>
            <th>Transcript</th>
            <th>Gene</th>
            <th>Chr</th>
            <th>Start</th>
            <th>End</th>
            <th># Exons</th>
        </tr>
    </thead>
    <tbody>
        {% for transcript in panel.transcripts %}
        <tr>
            <td>{{ transcript.name }}</td>
            <td>{{ transcript.gene.id }}</td>
            <td>{{ transcript.chr }}</td>
            <td>{{ transcript.start }}</td>
            <td>{{ transcript.end }}</td>
            <td>{{ transcript.exon_count }}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}
