{% from "macros/forms.html" import measurement_type_form, render_sample_datatable_form %}
{% from "macros/tables.html" import render_gene_measurement_td %}
{% extends 'base.html' %}

{% block header %}Sample set - {{ sample_set.name }}{% endblock %}

{% block body %}
<div class="well">
    <dl class="dl-horizontal">
        <dt>Sample set</dt><dd>{{ sample_set.name }}</dd>
        <dt>Description</dt><dd>{{ sample_set.description }}</dd>
        <dt>Panel</dt><dd>{{ panel.name_version }} </dd>
        <dt>Panel description</dt><dd>{{ panel.panel.disease_description_nl }} </dd>
    </dl>
</div>

{{ render_sample_datatable_form(filter=false) }}
{{ measurement_type_form(form) }}

<table class="table table-bordered table-hover table-condensed" id="data_table">
    <thead>
        <tr>
            <th>Transcript</th>
            <th>Gene</th>
            <th>Mean</th>
            <th>Min.</th>
            <th>Max.</th>
            {% for sample in sample_set.samples %}
            <th>{{ sample.name }} {{ measurement_type[1] }}</th>
            {% endfor %}
        </tr>
    </thead>
    <tbody>
        {% for transcript in transcript_measurements %}
        {% if transcript.gene in panel.core_genes %}
            {% set core_gene = True %}
        {% else %}
            {% set core_gene = False %}
        {% endif %}
        <tr>
            <td><a href="{{ url_for('sample_set_transcript', sample_set_id=sample_set.id, transcript_name=transcript.name) }}">{{ transcript.name }}</a></td>
            {% if core_gene %}
                <td class="info"><a href="{{ url_for('sample_set_gene', sample_set_id=sample_set.id, gene_id=transcript.gene_id) }}">{{ transcript.gene.id }} *</td>
            {% else %}
                <td><a href="{{ url_for('sample_set_gene', sample_set_id=sample_set.id, gene_id=transcript.gene_id) }}">{{ transcript.gene.id }}</td>
            {% endif %}
            {{ render_gene_measurement_td(transcript_measurements[transcript]['mean'], measurement_type[0], core_gene) }}
            {{ render_gene_measurement_td(transcript_measurements[transcript]['min'], measurement_type[0], core_gene) }}
            {{ render_gene_measurement_td(transcript_measurements[transcript]['max'], measurement_type[0], core_gene) }}
            {% for sample in sample_set.samples %}
                {{ render_gene_measurement_td(transcript_measurements[transcript][sample], measurement_type[0], core_gene) }}
            {% endfor %}
        </tr>
        {% endfor %}
    </tbody>
</table>
{% if panel.core_genes %}
    * Core gene
{% endif %}
{% endblock %}

{% block custom_javascript %}
<script>
    $(document).ready(function() {
        var dataTable = $('#data_table').DataTable( {
            "paging": false,
            "info": false,
            "order": [[ 1, 'asc' ]],
            "dom": "<'row'<'col-sm-6'f><'col-sm-6'l>>" + "<'row'<'col-sm-12'tr>>" + "<'row'<'col-sm-5'i><'col-sm-7'p>>",
            "fixedHeader": true,
        });

        $(".dataTables_filter").hide();

        $("#search_box").bind("change keyup", function() {
            console.log(this.value)
            dataTable.search(this.value).draw();
        });
    });
</script>
{% endblock %}
