{% extends 'base.html' %}
{% block header %}Samples{% endblock %}
{% block body %}
<div class="well">
    <form class="form-inline">
        <div class="form-group">
            <input type="text" class="form-control" id="exampleInputName2" placeholder="search samples">
        </div>
        <button type="submit" class="btn btn-default">Search</button>
    </form>
</div>
<table class="table table-bordered table-hover">
    <thead>
        <tr>
            <th>Sample</th>
            <th>Run</th>
            <th>Date</th>
        </tr>
    </thead>
    <tbody>
        {% for sample in samples %}
        <tr>
            <td><a href="{{ url_for('sample', id=sample.id) }}">{{sample.name}}</a></td>
            <td>{{sample.sequencing_run.name}}</td>
            <td>{{sample.import_date}}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>

{% endblock %}
