{% from "macros/forms.html" import render_field, render_select2_field %}
{% extends 'base.html' %}

{% block header %}Sample sets{% endblock %}

{% block body %}
<table class="table table-bordered table-hover table-condensed">
    <thead>
        <tr>
            <th>Sample set</th>
            <th>Description</th>
            <th>Sample count</th>
            <th>Date</th>
        </tr>
    </thead>
    <tbody>
        {% for sample_set in sample_sets %}
        <tr>
            <td><a href="{{ url_for('sample_set', id=sample_set.id) }}">{{ sample_set.name }}</a></td>
            <td>{{ sample_set.description }}</td>
            <td>{{ sample_set.sample_count }}</td>
            <td>{{ sample_set.date }}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>

<div class="page-header"><h2>Search Panel / Gene</h2></div>
<div class="well">
    <form method="POST" action="{{ url_for('sample_sets') }}" class="form-horizontal">
        {{ form.csrf_token }}
        {{ render_select2_field(form.sample_set) }}
        {{ render_select2_field(form.panel) }}
        {{ render_field(form.gene) }}

        <div class="form-group">
            <div class="col-sm-offset-1 col-sm-10">
                <button type="submit" class="btn btn-primary">Submit</button>
            </div>
        </div>
    </form>
</div>
{% endblock %}

{% block custom_javascript %}
<script>
    $(document).ready(function() {
        $('.select2-form-field').select2({
            minimumInputLength: 3 // only start searching when the user has input 4 or more characters
        });
    });
</script>
{% endblock %}