{% extends 'base.html' %}
{% from "macros/tables.html" import render_gene_measurement_td %}
{% from "macros/forms.html" import render_sample_datatable_form %}

{% block header %}{{ panel.name_version }} - {{ sample.name }}{% endblock %}

{% block body %}
<div class="well">
    <dl class="dl-horizontal">
        <dt>Sample</dt><dd>{{ sample.name }}</dd>
        <dt>Project</dt><dd>{{ sample.project }}</dd>
        <dt>Type</dt><dd>{{ sample.type }}</dd>
        <dt>Sequencing runs</dt><dd><ul class="list-inline">{% for run in sample.sequencing_runs %}<li>{{ run }}</li>{% endfor %}</ul></dd>
        <dt>Panel</dt><dd>{{ panel.name_version }} </dd>
        <dt>Minimal % 15x</dt><dd><p>{{ panel.coverage_requirement_15 }}</p></dd>
        <dt>Summary</dt><dd>
            {% if panel_summary['measurement_percentage15'] < panel.coverage_requirement_15 %}
                <p>Dekking {{ panel.name_version }} >15X = {{ panel_summary['measurement_percentage15']|float|round(2) }}% ; <code>QC failed</code>.</p>
            {% else %}
                <p>Dekking {{ panel.name_version }} >15X = {{ panel_summary['measurement_percentage15']|float|round(2) }}%.</p>
            {% endif %}
            {% if panel.core_genes %}
                {% if panel_summary['core_genes'] %}
                    Core genen met 15x dekking < 100%: {{panel_summary['core_genes']}}.<br>
                {% else %}
                    Core genen met 15x dekking < 100%: geen.<br>
                {% endif %}
            {% endif %}
            {% if panel_summary['genes_15'] %}
                Genen met 15x dekking < 95%: {{panel_summary['genes_15']}}.<br>
            {% else %}
                Genen met 15x dekking < 95%: geen.<br>
            {% endif %}
        </dd>
    </dl>
    <button type="button" class="btn btn-default" onclick="copy_panel_summary_text()">
        <span class="glyphicon glyphicon-copy" aria-hidden="true"></span> Copy Panel Summary
    </button>
</div>

<!-- Repeat content of above div in textarea to allow copy to clipboard -->
<textarea id="panel_summary_text" style="display:none;">
    Sample: {{ sample.name }}
    Project: {{ sample.project }}
    Type: {{ sample.type }}
    Sequencing runs: {% for run in sample.sequencing_runs %}{{ run }} {% endfor %}
    Panel: {{ panel.name_version }}
    Minimal % 15x: {{ panel.coverage_requirement_15 }}
    {% if panel_summary['measurement_percentage15'] < panel.coverage_requirement_15 %}
        Summary: Dekking {{ panel.name_version }} >15X = {{ panel_summary['measurement_percentage15']|float|round(2) }}% ; QC failed.
    {% else %}
        Summary: Dekking {{ panel.name_version }} >15X = {{ panel_summary['measurement_percentage15']|float|round(2) }}%.
    {% endif %}
    {% if panel.core_genes %}
        {% if panel_summary['core_genes'] %}
            Core genen met 15x dekking < 100%: {{panel_summary['core_genes']}}.
        {% else %}
            Core genen met 15x dekking < 100%: geen.
        {% endif %}
    {% endif %}
    {% if panel_summary['genes_15'] %}
        Genen met 15x dekking < 95%: {{panel_summary['genes_15']}}.
    {% else %}
        Genen met 15x dekking < 95%: geen.
    {% endif %}
</textarea>

{{ render_sample_datatable_form() }}

<table class="table table-bordered table-hover table-condensed" id="data_table">
    <thead>
        <tr>
            <th>Transcript</th>
            <th>Gene</th>
            <th>Chr</th>
            <th>Start</th>
            <th>End</th>
            <th># Exons</th>
            {% for type in measurement_types %}
                <th>{{ measurement_types[type] }}</th>
            {% endfor %}
        </tr>
    </thead>
    <tbody>
        {% for transcript_measurement in transcript_measurements %}
        {% set transcript = transcript_measurement[0] %}
        {% set measurement = transcript_measurement[1] %}
        {% if transcript.gene in panel.core_genes %}
            {% set core_gene = True %}
        {% else %}
            {% set core_gene = False %}
        {% endif %}
        <tr>
            <td><a href="{{ url_for('sample_transcript', sample_id=sample.id, transcript_name=transcript.name) }}">{{ transcript.name }}</a></td>
            {% if core_gene %}
                <td class="info"><a href="{{ url_for('sample_gene', sample_id=sample.id, gene_id=transcript.gene_id) }}">{{ transcript.gene_id }} *</a></td>
            {% else %}
                <td><a href="{{ url_for('sample_gene', sample_id=sample.id, gene_id=transcript.gene_id) }}">{{ transcript.gene_id }}</a></td>
            {% endif %}
            <td>{{ transcript.chr }}</td>
            <td>{{ transcript.start }}</td>
            <td>{{ transcript.end }}</td>
            <td>{{ transcript.exon_count }}</td>
            {% for type in measurement_types %}
                {{ render_gene_measurement_td(measurement[type], type, core_gene) }}
            {% endfor %}
        </tr>
        {% endfor %}
    </tbody>
</table>
{% if panel.core_genes %}
    * Core gene
{% endif %}

{% endblock %}

{% block custom_javascript %}
<script>
$.fn.dataTable.ext.search.push(
    function( settings, data, dataIndex ) {
        var cutoff = parseFloat( $('#cutoff').val());
        var measurementType = parseInt( $('#measurementType').val());
        var measurement = parseFloat( data[measurementType + 6]); // correct for other columns

        if ( isNaN(cutoff) || ( isNaN( measurement ) || measurement <= cutoff ) )
        {
            return true;
        }
        return false;
    }
);

$(document).ready(function() {
    var dataTable = $('#data_table').DataTable( {
        "paging": false,
        "info": false,
        "order": [[ 1, 'asc' ]],
        "dom": "<'row'<'col-sm-6'f><'col-sm-6'l>>" + "<'row'<'col-sm-12'tr>>" + "<'row'<'col-sm-5'i><'col-sm-7'p>>",
    });

    $(".dataTables_filter").hide();

    $("#search_box").bind("change keyup", function() {
        dataTable.search(this.value).draw();
    });

    $('#cutoff, #measurementType').bind("change keyup", function() {
        dataTable.draw();
    });
});

function copy_panel_summary_text() {
     /* Get the text field and select */
    var panelSummaryText = document.getElementById("panel_summary_text");
    panelSummaryText.select();

    /* Cleanup lines from textfield */
    var panelSummaryArray = panelSummaryText.value.trim().split('\n').filter(line => /\S/.test(line));
    panelSummaryText = panelSummaryArray.map(line => line.trim()).join('\n');

     /* Copy the text inside the text field */
    navigator.clipboard.writeText(panelSummaryText);
}
</script>

{% endblock %}