{% from "macros/tables.html" import render_measurment_td %}
{% from "macros/forms.html" import render_sample_datatable_form %}
{% extends 'base.html' %}

{% block header %}
<div class="row">
    <div class="col-md-8">{{ sample.name }}</div>
</div>
{% endblock %}

{% block body %}
<div class="well">
    <dl class="dl-horizontal">
        <dt>Sample</dt><dd>{{ sample.name }}</dd>
        <dt>Project</dt><dd>{{ sample.project.name }}</dd>
        <dt>Sequencing runs</dt><dd><ul class="list-inline">{% for run in sample.sequencing_runs %}<li>{{ run }}</li>{% endfor %}</ul></dd>
    </dl>
</div>

{% if sample.custom_panels %}
<div class="page-header"><h1>Custom panels</h1></div>
<table class="table table-bordered table-hover table-condensed">
    <thead>
        <tr>
            <th>ID</th>
            <th>Date</th>
            <th>User</th>
            <th>Comments</th>
            <th># Samples</th>
            <th># Transcripts</th>
        </tr>
    </thead>
    <tbody>
        {% for panel in sample.custom_panels %}
        <tr>
            <td><a href="{{ url_for('custom_panel', id=panel.id) }}">{{ panel.id }}</a></td>
            <td>{{ panel.date }}</td>
            <td>{{ panel.user }}</td>
            <td>{{ panel.comments }}</td>
            <td>{{ panel.sample_count }}</td>
            <td>{{ panel.gene_count }}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endif %}

<div class="row page-header">
    <div class="col-md-3"><h1>Gene panels</h1></div>
    <div class="col-md-9 text-right"><h1><small><a href="{{ url_for('sample_inactive_panels', id=sample.id) }}">View inactive gene panels</a></small></h1></div>
</div>
{{ render_sample_datatable_form(filter=false) }}

<table class="table table-bordered table-hover table-condensed" id="data_table">
    <thead>
        <tr>
            <th>Gene Panel</th>
            <th>Size (bp)</th>
            {% for type in measurement_types %}
                <th>{{ measurement_types[type] }}</th>
            {% endfor %}
        </tr>
    </thead>
    <tbody>
        {% for panel in panels %}
        <tr>
            <td><a href="{{ url_for('sample_panel', sample_id=sample.id, panel_id=panel) }}">{{ panels[panel]['name_version'] }}</a></td>
            <td>{{ panels[panel]['len'] }}</td>
            {% for type in measurement_types %}
                {{ render_measurment_td(panels[panel][type], type) }}
            {% endfor %}
        </tr>
        {% endfor %}
    </tbody>
</table>

{% endblock %}

{% block custom_javascript %}
<script>
    $(document).ready(function() {
        var dataTable = $('#data_table').DataTable( {
            "paging": false,
            "info": false,
            "order": [[ 0, 'asc' ]],
            "dom": "<'row'<'col-sm-6'f><'col-sm-6'l>>" + "<'row'<'col-sm-12'tr>>" + "<'row'<'col-sm-5'i><'col-sm-7'p>>",
        });

        $(".dataTables_filter").hide();

        $("#search_box").bind("change keyup", function() {
            console.log(this.value)
            dataTable.search(this.value).draw();
        });
    });
</script>
{% endblock %}
