{% extends 'base.html' %}
{% block header %}{{sample}}</br><small>{{sample.sequencing_run.name}}</small>{% endblock %}
{% block body %}

<table class="table table-bordered table-hover">
    <thead>
        <tr>
            <th>Transcript</th>
            <th>Gene</th>
            <th>Chr</th>
            <th>Start</th>
            <th>End</th>
            <th># Exons</th>
            {% for type in measurement_types %}
                <th>{{type}}</th>
            {% endfor %}
        </tr>
    </thead>
    <tbody>
        {% for measurement in measurements %}
        <tr>
            <td>{{measurement}}</a></td>
            <td>GENE</a></td>
            <td>{{measurements[measurement][measurement_types[0]]['chr']}}</a></td>
            <td>{{measurements[measurement][measurement_types[0]]['start']}}</a></td>
            <td>{{measurements[measurement][measurement_types[0]]['end']}}</a></td>
            <td>{{measurements[measurement][measurement_types[0]]['exon_count']}}</a></td>
            {% for type in measurement_types %}
                <td>{{measurements[measurement][type]['value']}}</td>
            {% endfor %}
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}
