{% extends 'base.html' %}
{% block header %}{{panel.name}} - {{sample.name}}{% endblock %}

{% block body %}
<dl class="dl-horizontal">
  <dt>Sequencing run</dt><dd>{{sample.sequencing_run.name}}</dd>
  <dt>Panel</dt><dd>{{panel.name}}</dd>
</dl>

<table class="table table-bordered table-hover">
    <thead>
        <tr>
            <th>Transcript</th>
            <th>Gene</th>
            <th>Chr</th>
            <th>Start</th>
            <th>End</th>
            <th># Exons</th>
            {% for type in measurement_types %}
                <th>{{type}}</th>
            {% endfor %}
        </tr>
    </thead>
    <tbody>
        {% for transcript_measurement in transcript_measurements %}
        {% set transcript = transcript_measurement[0] %}
        {% set measurement = transcript_measurement[1] %}
        <tr>
            <td><a href="{{ url_for('sample_transcript', sample_id=sample.id, transcript_name=transcript.name) }}">{{transcript.name}}</a></td>
            <td><a href="{{ url_for('sample_gene', sample_id=sample.id, gene_id=transcript.gene_id) }}">{{transcript.gene_id}}</a></td>
            <td>{{transcript.chr}}</td>
            <td>{{transcript.start}}</td>
            <td>{{transcript.end}}</td>
            <td>{{transcript.exon_count}}</td>
            {% for type in measurement_types %}
                <td>{{measurement[type]|round(1)}}</td>
            {% endfor %}
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}
