{% from "macros/forms.html" import render_inline_field %}
{% from "macros/query.html" import render_pagination %}
{% extends 'base.html' %}
{% block header %}Samples{% endblock %}
{% block body %}
<div class="well">
    <form method="GET" action="{{ url_for('samples') }}" class="form-inline">
        {{ render_inline_field(form.run) }}
        {{ render_inline_field(form.sample) }}

        <div class="form-group">
            <div class="col-sm-offset-1 col-sm-10">
                <button type="submit" class="btn btn-primary">Search</button>
            </div>
        </div>
    </form>
</div>

<table class="table table-bordered table-hover">
    <thead>
        <tr>
            <th>Sample</th>
            <th>Run</th>
            <th>Sequencer</th>
            <th>Date</th>
        </tr>
    </thead>
    <tbody>
        {% for sample in samples.items %}
        <tr>
            <td><a href="{{ url_for('sample', id=sample.id) }}">{{ sample.name }}</a></td>
            <td>{{ sample.sequencing_run.name }}</td>
            <td>{{ sample.sequencing_run.sequencer }}</td>
            <td>{{ sample.import_date }}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>

{{ render_pagination(samples) }}

{% endblock %}
