{% from "macros/tables.html" import render_measurment_td %}
{% extends 'base.html' %}

{% block header %}{{ sample.name }}{% endblock %}

{% block body %}
<div class="well">
    <dl class="dl-horizontal">
        <dt>Sample</dt><dd>{{ sample.name }}</dd>
        <dt>Sequencing run</dt><dd>{{ sample.sequencing_run.name }}</dd>
        <dt>Sequencer</dt><dd>{{ sample.sequencing_run.sequencer }}</dd>
    </dl>
</div>

<table class="table table-bordered table-hover table-condensed" id="panel_table">
    <thead>
        <tr>
            <th>Gene Panel</th>
            <th>Size (bp)</th>
            {% for type in measurement_types %}
                <th>{{ measurement_types[type] }}</th>
            {% endfor %}
        </tr>
    </thead>
    <tbody>
        {% for panel in panels %}
        <tr>
            <td><a href="{{ url_for('sample_panel', sample_id=sample.id, panel_name=panel) }}">{{ panel }}</a></td>
            <td>{{ panels[panel]['len'] }}</td>
            {% for type in measurement_types %}
                {{ render_measurment_td(panels[panel][type], type) }}
            {% endfor %}
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}

{% block custom_javascript %}
<script>
    $(document).ready(function() {
        $('#panel_table').DataTable( {
            "paging": false,
            "info": false,
            "searching": true,
            "order": [[ 0, 'asc' ]],
            "dom": "<'row'<'col-sm-6'f><'col-sm-6'l>>" + "<'row'<'col-sm-12'tr>>" + "<'row'<'col-sm-5'i><'col-sm-7'p>>",
        });
    });
</script>
{% endblock %}
